<!DOCTYPE html> 
<html lang="pt-br">
<head>
    <!--title-->
    <title>Descontos WEB</title>
    <!--favicon-->
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <!--meta-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--css-->
    <link rel="stylesheet" href="/css/lista.css">
</head>
<body>
    <header>
        <!--logo-->
        <div class="logo">
            <a href="/"><img src="/img/logo.png" alt="Descontos WEB"></a>
        </div>
        <!--menu-->
        <div class="menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="lista.html">Lista de descontos</a></li>
            </ul>
        </div>
    </header>
    <main>
        <!--container-->
        <div class="container">
            <section class="box">
                <h1>Descontos WEB</h1>
                <p>Encontre os melhores descontos da internet</p>
                <!--listando os descontos-->
                <div class="discount">
                    <div class="discount-udemy">
                        <div class="discount-img">
                            <img src="/img/udemy-logo.png" alt="logo udemy">
                        </div>
                        <ul class="course">
                            <li>
                                <a href="https://www.udemy.com/course/curso-completo-do-desenvolvedor-nodejs/">Curso completo de NodeJS</a>
                            </li>
                            <li>
                                <a href="https://www.udemy.com/course/java-curso-completo/">Curso completo de Java</a>
                            </li>
                            <li>
                                <a href="https://www.udemy.com/course/php-do-zero-a-maestria-com-projetos-incriveis/">Curso completo de PHP</a>
                            </li>
                            <li>
                                <a href="https://www.udemy.com/course/python-3-do-zero-ao-avancado/">Curso completo de Python</a>
                            </li>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer>
        <!--footer-->
        <p>Desenvolvido por <a href="/">Descontos WEB</a></p>
    </footer>
</body>
</html>
